<% title "Carriers" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for carrier in @carriers %>
    <tr>
      <td><%=h carrier.name %></td>
      <td><%= link_to "Show", carrier %></td>
      <td><%= link_to "Edit", edit_carrier_path(carrier) %></td>
      <td><%= link_to "Destroy", carrier, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Carrier", new_carrier_path %></p>
