<% url = @user.new_record? ? team_members_path : team_member_path(@user) %>
<% form_for @user, :url => url do |f| %>
	<p>
		<%= f.label :first_name %><br />
		<%= f.text_field :first_name %>
	</p>
	<p>
		<%= f.label :last_name %><br />
		<%= f.text_field :last_name %>
	</p>
	<p>
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :password %><br />
		<%= f.text_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %><br />
		<%= f.text_field :password_confirmation %>
	</p>	
	<%= f.submit %>
<% end %>