<% title "Team Members" %>

<table width="100%">
	<tr style="text-align:left;">
		<th>Name</th>
		<th>Email</th>
		<th>Actions</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
	  <td><%= link_to h(user.name), team_member_path(user) %></td>
	  <td><%= link_to "send email", "mailto:#{user.email}" %></td>	
		<td><%= link_to "Edit", edit_team_member_path(user) %> <%= link_to "Delete", team_member_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<p><%= link_to "New Team Member", new_team_member_path %></p>