<% content_for :head do -%>
	<%= jqgrid_stylesheets %> 
<% end -%>

<div id="gbox_shipments" class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="width: 1005px;">
	
	<div id="gview_shipments" class="ui-jqgrid-view">
		
		<div class="ui-jqgrid-titlebar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix">
			<span class="ui-jqgrid-title"><%= h(yield(:title)) %></span>
		</div>
		
		<div class="new-shipment">
			

<% form_for @packing_slip do |f| %>
  <%= f.error_messages %>
	<div class="slip">
		<p>
		  <%= f.label :shipper_id %> <a class='new-contact' href='#' rel='shipper'>Add New</a><br />
		  <%= f.select :shipper_id, Contact.shippers.collect {|u| [u.company_name, u.id]}, :include_blank => true %>
		</p>

		<p>
		  <%= f.label :consignee_id %> <a class='new-contact' href='#' rel='consignee'>Add New</a><br />
		  <%= f.select :consignee_id, Contact.consignees.collect {|u| [u.company_name, u.id]}, :include_blank => true %>
		</p>
		
		<p>
	    <%= f.label :pallets %><br />
	    <%= f.text_field :pallets %>
	  </p>
	
	  <p>
	    <%= f.label :total_weight %><br />
	    <%= f.text_field :total_weight %>
	  </p>
	  <p>
	    <%= f.label :reference_number %><br />
	    <%= f.text_field :reference_number %>
	  </p>
	</div>

<div class="slip-items">

	<% f.fields_for :list_items do |builder| %>
		<%= render 'list_item_fields', :f => builder %>
	<% end %>
	<%= link_to_add_fields "Add List Item", f, :list_items %>
	
</div>	

<br class="clear" />	
	
  <p><%= f.submit f.object.new_record? ? "Create New Packing Slip" : "Update", :class => "btn" %><%= link_to "Cancel", packing_slips_path %></p>

<% end %>

<div id="new-contact">
	<% form_for :contact, :url => contacts_path, :html => {:id => "new-contact-form"} do |f| %>
	  <%= f.error_messages %>
	  <p>
	    <%= f.label :contact_type_id %><br />
	    <%= f.select :contact_type_id, Contact::CONTACT_TYPE_ID.map {|c| [c[0].humanize, c[1]]}.sort, :prompt => 'Select Contact Type' %>
	  </p>
		<div style="float: left;">
		  <p>
		    <%= f.label :company_name %><br />
		    <%= f.text_field :company_name %>
		  </p>
		  <p>
		    <%= f.label :contact_name %><br />
		    <%= f.text_field :contact_name %>
		  </p>
		  <p>
		    <%= f.label :email %><br />
		    <%= f.text_field :email %>
		  </p>
		</div>
		<div style="float: left; margin-left: 25px">
		  <p>
		    <%= f.label :street_1 %><br />
		    <%= f.text_field :street_1 %>
		  </p>
		  <p>
		    <%= f.label :street_2 %><br />
		    <%= f.text_field :street_2 %>
		  </p>
		  <p>
		    <%= f.label :city %><br />
		    <%= f.text_field :city %>
		  </p>
		  <p style="float: left;">
		    <%= f.label :state %><br />
		    <%= f.text_field :state, :style => "width: 130px;" %>
		  </p>
		  <p style="float: left; margin-left: 20px">
		    <%= f.label :zip %><br />
		    <%= f.text_field :zip, :style => "width: 100px;" %>
		  </p>
		<br class="clear" />
		  <p>
		    <%= f.label :phone %><br />
		    <%= f.text_field :phone %>
		  </p>
		  <p>
		    <%= f.label :fax %><br />
		    <%= f.text_field :fax %>
		  </p>
		</div>
	<br clear="all" />
	  <p><%= f.submit "Submit" %></p>
	<% end %>
</div>

<div id="new-item">
	<% form_for :item, :url => items_path, :html => {:id => "new-item-form"} do |f| %>
	  <%= f.error_messages %>
		<input name="_method" type="hidden" value="post" id="item_method" /> 
	  <p>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </p>
	  <p>
	    <%= f.label :uom %><br />
	    <%= f.text_field :uom %>
	  </p>

	  <p><%= f.submit "Save Item" %></p>
	<% end %>
</div>

<script>
$(function(){
	// new stuff from packing list
	
	$(".edit-item").live("click", function(){
		var item_id = $(this).siblings(".item-select").first().val();
		if(item_id != ''){
			$.get("/items/"+item_id+".js", {}, function(data){
				$("#item_name").val(data.item.name);
				$("#item_uom").val(data.item.uom);
				$("#item_method").val("put");
				$("#new-item-form").attr("action", "/items/"+item_id).attr("method","put");
				$("#new-item").dialog({title : "Edit Item"});
				$("#new-item").dialog('open');
			}, "json");
			}
			else{
				alert("Select an item to edit");
			}
		return false;
	});
	$("#new-item").dialog({ autoOpen: false, width : '660px', title : "New Item" });
	$(".new-item").live("click", function(){
		$("#item_method").val("post");
		$("#new-item-form").attr("action","/items");
		$("#new-item").dialog({title : "New Item"});
		$("#new-item").dialog('open');
		return false;
	});
	$("#new-item-form").submit(function(){
		$.post($(this).attr('action'), $(this).serialize(), null, "script");
    return false;
	});
	$("#new-contact").dialog({ autoOpen: false, width : '660px', title : "New Contact" });
	$(".new-contact").click(function(){
		switch( $(this).attr("rel") )
		{
		case "shipper":
		 var newContactValue =  1;
		  break;
		case "consignee":
		 var newContactValue =  2;
		  break;
		case "third_party":
		 var newContactValue =  3;
		  break;
		default:
		 var newContactValue =  '';
		}
		$("#contact_contact_type_id").val(newContactValue);
		$("#new-contact").dialog('open');
		return false;
	});
	$("#new-contact-form").submit(function(){
		$.post($(this).attr('action'), $(this).serialize(), null, "script");
    return false;
	});
});
</script>