<div class="fields" style="border:solid 1px blue;">
	<p>
    <%= f.label :item_id %> <a class='new-item' href='#'>add new</a><br />
    <%= f.select :item_id, Item.all.collect {|u| ["#{u.name} (#{u.uom})", u.id]}, {:include_blank => true}, {:class => 'item-select'} %> <a href="#" class="edit-item">edit</a>
  </p>
  <p>
    <%= f.label :qty %><br />
    <%= f.text_field :qty %>
  </p>
  <p>
    <%= f.label :lot_number %><br />
    <%= f.text_field :lot_number %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
	<p><%= link_to_remove_fields "remove", f %></p>
</div>