<% title "Packing Slips" %>

<% content_for :head do -%>
	<%= jqgrid_stylesheets %> 
	<%= jqgrid_javascripts %>
<% end -%>

<%= jqgrid("Packing Slips", "packing_slips", "/packing_slips",
	[
		{ :field => "company", :label => "Shipment", :width => 90 },
		{ :field => "shipper", :label => "Shipper", :width => 120 },
		{ :field => "consignee", :label => "Carrier", :width => 90 },
		{ :field => "pallets", :label => "Pallets" },
		{ :field => "total_weight", :label => "Total Weight", :formatter => 'currency', :editable => true, :width => 100 },
	],
			{ :edit => true, :inline_edit => true, :delete => false, :edit_url => "/packing_slips/post_data" }
) %>

<table>
  <tr>
    <th>Shipment</th>
    <th>Shipper</th>
    <th>Consignee</th>
    <th>Pallets</th>
    <th>Total Weight</th>
  </tr>
  <% for packing_slip in @packing_slips %>
    <tr>
      <td><%= link_to "Create Shipment", create_from_packing_slip_path(packing_slip) %></td>
      <td><%=h packing_slip.shipper.company_name %></td>
      <td><%=h packing_slip.consignee.company_name %></td>
      <td><%=h packing_slip.pallets %></td>
      <td><%=h packing_slip.total_weight %></td>
      <td><%= link_to "Show", packing_slip %></td>
      <td><%= link_to "Edit", edit_packing_slip_path(packing_slip) %></td>
      <td><%= link_to "Destroy", packing_slip, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Packing Slip", new_packing_slip_path %></p>

</div>

</div>
