	<% shipment = delivered -%>
	<tr data-id="<%= shipment.id %>">
    <td><%=h shipment.reference_number %></td>
    <td><%=h shipment.bol_pro_number %></td>
    <td><%=h shipment.carrier_id %> Need to make carrier model</td>
    <td><span class='edit' name='carrier_invoice_number'><%=h shipment.carrier_invoice_number %></span></td>

    <td><span class='edit' name='cost'><%=h number_to_currency shipment.cost %></span></td>
    <td><%=h shipment.classification_type %></td>

    <td>credits?</td>
		<td><%= check_box "invoiced", shipment.id, :class => 'invoice'%></td>

    <td><%= link_to "Show", shipment %></td>
    <td><%= link_to "Edit", edit_shipment_path(shipment) %></td>
    <td><%= link_to "Destroy", shipment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>