<% content_for :head do -%>
	<%= jqgrid_stylesheets %> 
<% end -%>

<div id="gbox_shipments" class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="width: 1015px;">
	
	<div id="gview_shipments" class="ui-jqgrid-view">
		
		<div class="ui-jqgrid-titlebar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix">
			<span class="ui-jqgrid-title"><%= h(yield(:title)) %></span>
		</div>
		
		<div class="new-shipment">

<% form_for @shipment, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
	
	<div class="info">
	
		<% if params[:debug] %>
		<div>
	    <%= f.label :submitter_id, "Submitter" %><br />
	    <%= current_user.name %>
	  </div>
		<% end %>

	  <div>
	    <%= f.label :assigned_to_id, "Assigned To" %><br />
	    <%= f.select :assigned_to_id, User.all.collect {|u| [u.name, u.id]} %>
	  </div>

		<div>
	    <%= f.label :scheduled_by_id %><br />
	    <%= f.select :scheduled_by_id, User.all.collect {|u| [u.name, u.id]}, :include_blank => true %>
	  </div>

		<div>
	    <%= f.label :scheduled_pickup, "Scheduled Pickup Date" %><br />
			<%= f.text_field :scheduled_pickup %>
	    <%#= f.date_select :scheduled_pickup, :prompt => true, :start_year => Date.today.year, :order => [:month, :day, :year] %>
	  </div>

	  <div>
	    <%= f.label :deliver_by_date %><br />
			<%= f.text_field :deliver_by_date %>
	    <%#= f.date_select :deliver_by_date, :prompt => true, :start_year => Date.today.year, :order => [:month, :day, :year] %>
	  </div>

	  <div>
	    <%= f.label :picked_up_at, "Pickup Time (window)" %><br />
	    <%= f.text_field :picked_up_at, :style => "width: 170px;" %>
	  </div>
  
		<% if params[:debug] %>
		<div>
	    <%= f.label :state, "Status" %><br />
	    <%= f.select :state, %w[pending delivered invoiced] %>
	  </div>
		<% end %>
		
	  <div>
	    <%= f.label :classification_id %><br />
	    <%= f.select :classification_id, Shipment::CLASSIFICATION_TYPE_ID.sort %>
	  </div>
	  <div>
	    <%= f.label :refrigerate? %>  <%= f.check_box :refrigerate %>
	  </div>
	</div>
	
	<div class="bol">
	
		<div>
	    <%= f.label :bol_date, "Bill of Lading Date" %><br />
			<%= f.text_field :bol_date %>
	    <%#= f.date_select :bol_date, :prompt => true, :order => [:month, :day, :year] %>
	  </div>
		<div>
	    <%= f.label :bol, "Attach Bill of Lading" %><br />
	    <%= f.file_field :bol, :size => "20" %>
	  </div>
		<div>
	    <%= f.label :bol_pro_number %><br />
	    <%= f.text_field :bol_pro_number %>
	  </div>
	
		<div>
			<%= f.label :carrier_id %> <a class='new-carrier' href='#' rel='shipper'>Add New</a><br />
		  <%= f.select :carrier_id, Carrier.all.collect {|u| [u.name, u.id]}, :prompt => 'Choose Carrier' %>
	  </div>
	  <div>
	    <%= f.label :invoiced_by %><br />
	    <%= f.text_field :invoiced_by %>
	  </div>

	  <div>
	    <%= f.label :bill_to_id %> <a class='new-contact' href='#'>Add New</a><br />
	    <%= f.select :bill_to_id, Contact.all.collect {|u| [u.company_name, u.id]}, :include_blank => true %>
	  </div>

	</div>
	
	<div class="comments">

    <label>Shipment Comments</label><br />
    <%= f.text_area :comments %>
  
	</div>
	
	<br class="clear" />

  <!-- <div>
    <%= f.label :reference_number %><br />
    <%= f.text_field :reference_number %>
  </div>
	<div>
    <%= f.label :packing_list, "Attach Packing List" %><br />
    <%= f.file_field :packing_list %>
  </div>
  <div>
    <%= f.label :pallet_qty, "Pallets" %><br />
    <%= f.text_field :pallet_qty %>
  </div>
  <div>
    <%= f.label :pallet_dimentions %><br />
    <%= f.text_field :pallet_dimentions %>
  </div>
  <div>
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div> -->

	<div class="slip">
	
	<h2>Packing Slip</h2>
	<% f.fields_for :packing_slip do |f2| %>
		
			<div>
			  <%= f2.label :shipper_id %> <a class='new-contact' href2.'#' rel='shipper'>Add New</a><br />
			  <%= f2.select :shipper_id, Contact.shippers.collect {|u| [u.company_name, u.id]}, :include_blank => true %>
			</div>

			<div>
			  <%= f2.label :consignee_id %> <a class='new-contact' href2.'#' rel='consignee'>Add New</a><br />
			  <%= f2.select :consignee_id, Contact.consignees.collect {|u| [u.company_name, u.id]}, :include_blank => true %>
			</div>

	  <div>
	    <%= f2.label :pallets %><br />
	    <%= f2.text_field :pallets, :style => "width: 170px;" %>
	  </div>
	  <div>
	    <%= f2.label :total_weight %><br />
	    <%= f2.text_field :total_weight, :style => "width: 170px;" %>
	  </div>
	  <div>
	    <%= f2.label :reference_number %><br />
	    <%= f2.text_field :reference_number, :style => "width: 170px;" %>
	  </div>
	</div>
	
	<div class="slip-items">
		<% f2.fields_for :list_items do |builder| %>
			<%= render 'list_item_fields', :f => builder %>
		<% end %>

		<%= link_to_add_fields "+ Add List Item", f2, :list_items %>
		
	</div>	
	
	<br class="clear" />
		
	<% end %>
	
	<div><%= f.submit f.object.new_record? ? "Create New Shipment" : "Update", :class => "btn" %><%= link_to "Cancel", root_path %></div>

<% end %>

<div id="new-carrier">
	<% form_for :carrier, :url => carriers_path, :html => {:id => "new-carrier-form"} do |f| %>
	  <%= f.error_messages %>
	  <div>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  <div>
	    <%= f.label :url %><br />
	    <%= f.text_field :url %>
	  </div>
	  <div><%= f.submit "Submit" %></div>
	<% end %>
</div>

<div id="new-contact">
	<% form_for :contact, :url => contacts_path, :html => {:id => "new-contact-form"} do |f| %>
	  <%= f.error_messages %>
	  <div>
	    <%= f.label :contact_type_id %><br />
	    <%= f.select :contact_type_id, Contact::CONTACT_TYPE_ID.map {|c| [c[0].humanize, c[1]]}.sort, :prompt => 'Select Contact Type' %>
	  </div>
	<div style="float: left;">
	  <div>
	    <%= f.label :company_name %><br />
	    <%= f.text_field :company_name %>
	  </div>
	  <div>
	    <%= f.label :contact_name %><br />
	    <%= f.text_field :contact_name %>
	  </div>
	  <div>
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
	  </div>
	</div>
	<div style="float: left; margin-left: 25px">
	  <div>
	    <%= f.label :street_1 %><br />
	    <%= f.text_field :street_1 %>
	  </div>
	  <div>
	    <%= f.label :street_2 %><br />
	    <%= f.text_field :street_2 %>
	  </div>
	  <div>
	    <%= f.label :city %><br />
	    <%= f.text_field :city %>
	  </div>
	  <div style="float: left;">
	    <%= f.label :state %><br />
	    <%= f.text_field :state, :style => "width: 130px;" %>
	  </div>
	  <div style="float: left; margin-left: 20px">
	    <%= f.label :zip %><br />
	    <%= f.text_field :zip, :style => "width: 100px;" %>
	  </div>
	<br class="clear" />
	  <div>
	    <%= f.label :phone %><br />
	    <%= f.text_field :phone %>
	  </div>
	  <div>
	    <%= f.label :fax %><br />
	    <%= f.text_field :fax %>
	  </div>
	</div>
	<br clear="all" />
	  <div><%= f.submit "Submit" %></div>
	<% end %>
</div>

<div id="new-item">
	<% form_for :item, :url => items_path, :html => {:id => "new-item-form"} do |f| %>
	  <%= f.error_messages %>
		<input name="_method" type="hidden" value="post" id="item_method" /> 
	  <div>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  <div>
	    <%= f.label :uom %><br />
	    <%= f.text_field :uom %>
	  </div>
	  <div>
	    <%= f.label :description %><br />
	    <%= f.text_area :description %>
	  </div>

	  <div><%= f.submit "Save Item" %></div>
	<% end %>
</div>

</div>

</div>

</div>

<script>
$(function(){
	$("#new-carrier").dialog({ autoOpen: false, width : '300px', title : "New Carrier" });
	$(".new-carrier").click(function(){
		$("#new-carrier").dialog('open');
		return false;
	});
	$("#new-carrier-form").submit(function(){
		$.post($(this).attr('action'), $(this).serialize(), null, "script");
    return false;
	});
	
	// new stuff from packing list
	
	$(".edit-item").live("click", function(){
		var item_id = $(this).siblings(".item-select").first().val();
		if(item_id != ''){
			$.get("/items/"+item_id+".js", {}, function(data){
				$("#item_name").val(data.item.name);
				$("#item_uom").val(data.item.uom);
				$("#item_description").val(data.item.description);
				$("#item_method").val("put");
				$("#new-item-form").attr("action", "/items/"+item_id).attr("method","put");
				$("#new-item").dialog({title : "Edit Item"});
				$("#new-item").dialog('open');
			}, "json");
			}
			else{
				alert("Select an item to edit");
			}
		return false;
	});
	$("#new-item").dialog({ autoOpen: false, width : '660px', title : "New Item" });
	$(".new-item").live("click", function(){
		$("#item_method").val("post");
		$("#new-item-form").attr("action","/items");
		$("#new-item").dialog({title : "New Item"});
		$("#new-item").dialog('open');
		return false;
	});
	$("#new-item-form").submit(function(){
		$.post($(this).attr('action'), $(this).serialize(), null, "script");
    return false;
	});
	$("#new-contact").dialog({ autoOpen: false, width : '660px', title : "New Contact" });
	$(".new-contact").click(function(){
		switch( $(this).attr("rel") )
		{
		case "shipper":
		 var newContactValue =  1;
		  break;
		case "consignee":
		 var newContactValue =  2;
		  break;
		case "third_party":
		 var newContactValue =  3;
		  break;
		default:
		 var newContactValue =  '';
		}
		$("#contact_contact_type_id").val(newContactValue);
		$("#new-contact").dialog('open');
		return false;
	});
	$("#new-contact-form").submit(function(){
		$.post($(this).attr('action'), $(this).serialize(), null, "script");
    return false;
	});
	$("#shipment_scheduled_pickup").datepicker({dateFormat: "yy-mm-dd"});
	$("#shipment_deliver_by_date").datepicker({dateFormat: "yy-mm-dd"});
	$("#shipment_bol_date").datepicker({dateFormat: "yy-mm-dd"});
	$(".item-select").live("change", function(){
		item_select = $(this);
		$.get('/items/'+ item_select.val() + ".js", function(data){
			item_select.parent().parent().find("p.item-description").html(data.item.description);
			item_select.parent().parent().find("p.item-uom").html(data.item.uom);
		}, "json");
	});
});
</script>