		<% shipment = invoiced -%>
		<tr>
	    <td><%=h shipment.reference_number %></td>
	    <td><%=h shipment.bol_pro_number %></td>
	    <td><%=h shipment.carrier_id %> Need to make carrier model</td>
	    <td><%=h shipment.carrier_invoice_number %></td>

	    <td><%=h number_to_currency shipment.cost %></td>
	    <td><%=h shipment.classification_type %></td>

	    <td>credits?</td>
      <td><%=h shipment.debit_memo_number %></td>

	    <td><%= link_to "Show", shipment %></td>
	    <td><%= link_to "Edit", edit_shipment_path(shipment) %></td>
	    <td><%= link_to "Destroy", shipment, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>