		<% shipment = pending -%>
    <tr data-id="<%= shipment.id %>">
      <td><div class='edit' name='reference_number'><%=h shipment.reference_number %></div></td>
      <td><div class='edit' name='bol_pro_number'><%=h shipment.bol_pro_number %></div></td>
      <td><%=h shipment.carrier_id %> Need to make carrier model</td>
      <td><%=h shipment.ship_date %></td>

			<td>needs attch</td>
			<td>needs attch</td>

      <td><%=h shipment.picked_up_at %></td>

      <td><div class='edit' name='stock_transfer_wo_number'><%=h shipment.stock_transfer_wo_number %></div></td>
			<td><%= check_box "delivered", shipment.id, :class => 'deliver' %>

      <td><%= link_to "Show", shipment %></td>
      <td><%= link_to "Edit", edit_shipment_path(shipment) %></td>
      <td><%= link_to "Destroy", shipment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>