<% title "Shipment" %>

<% content_for :head do -%>
	<%= jqgrid_stylesheets %> 
<% end -%>

<div id="gbox_shipments" class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="width: 1005px;">
	
	<div id="gview_shipments" class="ui-jqgrid-view">
		
		<div class="ui-jqgrid-titlebar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix">
			<span class="ui-jqgrid-title">Reference Number: <%= strip_tags @shipment.reference_number %></span> &nbsp; &nbsp; 
			<%= link_to "Edit", edit_shipment_path(@shipment) %> |
		  <%= link_to "Destroy", @shipment, :confirm => 'Are you sure?', :method => :delete %> |
		  <%= link_to "View All", shipments_path %>
		</div>
		
<table cellspacing="0" cellpadding="0">
	<tr>
		<td width="800px" valign="top">
			<div class="info">

				<p>
				  <label>status</label><br />
				  <span class="larger"><%=h @shipment.state.try(:humanize) %></span>
				</p>

				<p>
				  <label>Submitter</label><br />
				  <span class="larger"><%=h @shipment.submitter.try(:name) %></span>
				</p>

				<p>
				  <label>Assigned To</label><br />
				  <span class="larger"><%=h @shipment.assigned_to.try(:name) %></span>
				</p>

				<p>
				  <label>Scheduled By</label><br />
				  <span class="larger"><%=h @shipment.scheduled_by.try(:name) %></span>
				</p>

				<p>
				  <label>Scheduled Pickup</label><br />
				  <span class="larger"><%=h @shipment.scheduled_pickup %></span>
				</p>

				<p>
				  <label>Deliver By Date</label><br />
				  <span class="larger"><%=h @shipment.deliver_by_date %></span>
				</p>

				<p>
				  <label>Picked Up At</label><br />
				  <span class="larger"><%=h @shipment.picked_up_at %></span>
				</p>

				<p>
				  <label>Classification</label><br />
				  <span class="larger"><%=h @shipment.classification_type %></span>
				</p>
				<p>
				  <label>Refrigerate</label><br />
				  <span class="larger"><%=h @shipment.refrigerate ? "Yes" : "No" %></span>
				</p>

			</div>

			<div class="bol" style="width: 190px;">

				<p>
				  <label>Bill To</label><br />
				  <span class="larger"><%=h @shipment.bill_to.try(:company_name) %></span>
				</p>

				<p>
				  <label>BOL/PRO Number</label><br />
				  <span class="larger"><%=h @shipment.bol_pro_number %></span>
				</p>
				<p>
				  <label>Carrier</label><br />
				  <span class="larger"><%=h @shipment.carrier_id %></span>
				</p>
				<p>
				  <label>Carrier Invoice Number</label><br />
				  <span class="larger"><%=h @shipment.carrier_invoice_number %></span>
				</p>
				<p>
				  <label>Cost</label><br />
				  <span class="larger"><%=h number_to_currency(@shipment.cost) %></span>
				</p>

				<p>
				  <label>Stock Transfer Wo Number</label><br />
				  <span class="larger"><%=h @shipment.stock_transfer_wo_number %></span>
				</p>
				<p>
				  <label>Debit Memo Number</label><br />
				  <span class="larger"><%=h @shipment.debit_memo_number %></span>
				</p>

			</div>

			<div class="bol" style="width: 190px">

			<p>
			  <label>Comments</label><br />
			  <span class="larger"><%=h @shipment.comments %></span>
			</p>
			<p>
			  <label>Invoiced By</label><br />
			  <span class="larger"><%=h @shipment.invoiced_by %></span>
			</p>

			<p>
			  <label>Pallets</label><br />
			  <span class="larger"><%=h @shipment.pallet_qty %></span>
			</p>
			<p>
			  <label>Pallet Dimensions</label><br />
			  <span class="larger"><%=h @shipment.pallet_dimentions %></span>
			</p>
			<p>
			  <label>Weight</label><br />
			  <span class="larger"><%=h @shipment.weight %></span>
			</p>
			<p>
			  <label>BOL Date</label><br />
			  <span class="larger"><%=h @shipment.bol_date %></span>
			</p>
			<p>
			  <label>BOL</label><br />
			  <span class="larger"><%= @shipment.bol.exists? ? link_to("download", @shipment.bol.url) : "none" %></span>
			</p>
			
			</div>
			
			<br class="clear" />
			
		<div class="slip">
			
			  <h2>Packing List</h2>
				<p>
				  <label>Shipper</label><br />
				  <span class="larger"><%=h @shipment.packing_slip.shipper.company_name %></span>
				</p>
				<p>
				  <label>Consignee</label><br />
				  <span class="larger"><%=h @shipment.packing_slip.consignee.company_name %></span>
				</p>
				<p>
				  <label>Pallets</label><br />
				  <span class="larger"><%=h @shipment.packing_slip.pallets %></span>
				</p>
				<p>
				  <label>Total Weight</label><br />
				  <span class="larger"><%=h @shipment.packing_slip.total_weight %></span>
				</p>
				
	</div>
	
	<div class="slip-items" style="width: 474px">
				<div class="fields">
				<h2>Items</h2>
				<% @shipment.packing_slip.list_items.each do |li| %>
						<table width="100%">
							<tr>
								<td width="150px">
									<strong><%= li.item.name %></strong>
								</td>
								<td width="75px">
									<%= "#{pluralize li.qty, li.item.uom}" %>
								</td>
								<td width="75px">
									<%= li.lot_number %>
								</td>
							</tr>
							<tr>
								<td colspan="3" bgcolor="#ddd">
									<div style="font-style: italic; padding: 5px;"><%= li.comments %></div>
								</td>
							</tr>
						</table>
						<br />
				<% end %>
				</div>				
	</div>
	
		</td>
		<td width="200px" valign="top">
			<%= render :partial => 'chat_box' %>
		</td>
	</tr>
</table>

</div>

</div>
