<% title "Shipment" %>

<h2>
  <strong>Reference Number:</strong>
  <%= strip_tags @shipment.reference_number %>
</h2>
<h3>Receives Notifications</h3>
<% form_for @shipment, :html => {:id => "shipment_notification_list"} do |f| %>
	<% for user in User.find(:all) %>  
	    <div>  
	      <%= check_box_tag "shipment[user_ids][]", user.id, @shipment.users.include?(user) %>  
	      <%= user.name %>  
	    </div>  
	<% end %>
<% end %>

<h3>Comments</h3>
<div id="shipment-notes">
<%= render :partial => 'note', :collection => @shipment.notes %>
</div>
<%= "<p id='no-notes'>Not currently any notes about this shipment</p>" unless @shipment.notes.size > 0 %>

<% form_for :note, :url => notes_path, :html => {:id => "note_form"} do |f| %>
<p>
	Add Comment:<br />
	<%= f.text_area :content %>
	<%= f.hidden_field :shipment_id, :value => @shipment.id %><br />
	<%= f.submit "Post Comment"%>
</p>

<% end %>
<script>
$(function(){
	$("#shipment_notification_list").change(function(){
		$(this).submit();
	});
	$("#shipment_notification_list").submit(function(){
		$.post($(this).attr('action'), $(this).serialize(), null, "script");
		return false;
	});
	$("#note_form").submit(function(){
		$.post($(this).attr('action'), $(this).serialize(), null, "script");  
		return false;
	});
});
</script>
<p>
  <strong>Status:</strong>
  <%=h @shipment.state.try(:humanize) %>
</p>

<p>
  <strong>Submitter:</strong>
  <%=h @shipment.submitter.try(:name) %>
</p>
<p>
  <strong>Assigned To:</strong>
  <%=h @shipment.assigned_to.try(:name) %>
</p>
<p>
  <strong>Bill To:</strong>
  <%=h @shipment.bill_to.try(:company_name) %>
</p>
<p>
  <strong>Classification:</strong>
  <%=h @shipment.classification_type %>
</p>
<p>
  <strong>Refrigerate:</strong>
  <%=h @shipment.refrigerate ? "Yes" : "No" %>
</p>
<p>
  <strong>BOL/PRO Number:</strong>
  <%=h @shipment.bol_pro_number %>
</p>
<p>
  <strong>Carrier:</strong>
  <%=h @shipment.carrier_id %>
</p>
<p>
  <strong>Carrier Invoice Number:</strong>
  <%=h @shipment.carrier_invoice_number %>
</p>
<p>
  <strong>Cost:</strong>
  <%=h number_to_currency(@shipment.cost) %>
</p>
<p>
  <strong>Deliver By Date:</strong>
  <%=h @shipment.deliver_by_date %>
</p>
<p>
  <strong>Picked Up At:</strong>
  <%=h @shipment.picked_up_at %>
</p>
<p>
  <strong>Stock Transfer Wo Number:</strong>
  <%=h @shipment.stock_transfer_wo_number %>
</p>
<p>
  <strong>Debit Memo Number:</strong>
  <%=h @shipment.debit_memo_number %>
</p>
<p>
  <strong>Comments:</strong>
  <%=h @shipment.comments %>
</p>
<p>
  <strong>Invoiced By:</strong>
  <%=h @shipment.invoiced_by %>
</p>
<p>
  <strong>Scheduled By:</strong>
  <%=h @shipment.scheduled_by.try(:name) %>
</p>
<p>
  <strong>Scheduled Pickup:</strong>
  <%=h @shipment.scheduled_pickup %>
</p>
<p>
  <strong>Pallets:</strong>
  <%=h @shipment.pallet_qty %>
</p>
<p>
  <strong>Pallet Dimentions:</strong>
  <%=h @shipment.pallet_dimentions %>
</p>
<p>
  <strong>Weight:</strong>
  <%=h @shipment.weight %>
</p>
<p>
  <strong>BOL Date:</strong>
  <%=h @shipment.bol_date %>
</p>
<p>
  <strong>BOL:</strong>
  <%= @shipment.bol.exists? ? link_to("download", @shipment.bol.url) : "none" %>
</p>
<p>
  <h3>Packing List:</h3>
	<p>
	  <strong>Shipper:</strong>
	  <%=h @shipment.packing_slip.shipper.company_name %>
	</p>
	<p>
	  <strong>Consignee:</strong>
	  <%=h @shipment.packing_slip.consignee.company_name %>
	</p>
	<p>
	  <strong>Pallets:</strong>
	  <%=h @shipment.packing_slip.pallets %>
	</p>
	<p>
	  <strong>Total Weight:</strong>
	  <%=h @shipment.packing_slip.total_weight %>
	</p>

	<h3>Items</h3>
	<% @shipment.packing_slip.list_items.each do |li| %>
		<%= li.item.name %> <%= "#{pluralize li.qty, li.item.uom}" %> <%= li.lot_number %> <%= li.comments %><br />
	<% end %>


<p>
  <%= link_to "Edit", edit_shipment_path(@shipment) %> |
  <%= link_to "Destroy", @shipment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", shipments_path %>
</p>
