<% title "Shipment" %>

<% content_for :head do -%>
	<%= jqgrid_stylesheets %> 
<% end -%>

<div id="gbox_shipments" class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="width: 1005px;">
	
	<div id="gview_shipments" class="ui-jqgrid-view">
		
		<div class="ui-jqgrid-titlebar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix">
			<span class="ui-jqgrid-title">Reference Number: <%= strip_tags @shipment.reference_number %></span>
		</div>
		
<%= render :partial => 'chat_box' %>

<div class="info">

	<p>
	  <label>status</label><br />
	  <span class="larger"><%=h @shipment.state.try(:humanize) %></span>
	</p>

	<p>
	  <label>Submitter</label><br />
	  <span class="larger"><%=h @shipment.submitter.try(:name) %></span>
	</p>
	
	<p>
	  <label>Assigned To</label><br />
	  <span class="larger"><%=h @shipment.assigned_to.try(:name) %></span>
	</p>
	
	<p>
	  <label>Scheduled By</label><br />
	  <span class="larger"><%=h @shipment.scheduled_by.try(:name) %></span>
	</p>
	
	<p>
	  <label>Scheduled Pickup</label><br />
	  <span class="larger"><%=h @shipment.scheduled_pickup %></span>
	</p>

	<p>
	  <label>Deliver By Date</label><br />
	  <span class="larger"><%=h @shipment.deliver_by_date %></span>
	</p>
	
	<p>
	  <label>Picked Up At</label><br />
	  <span class="larger"><%=h @shipment.picked_up_at %></span>
	</p>

	<p>
	  <label>Classification</label><br />
	  <span class="larger"><%=h @shipment.classification_type %></span>
	</p>
	<p>
	  <label>Refrigerate</label><br />
	  <span class="larger"><%=h @shipment.refrigerate ? "Yes" : "No" %></span>
	</p>
	
</div>

<p>
  <strong>Bill To:</strong>
  <%=h @shipment.bill_to.try(:company_name) %>
</p>

<p>
  <strong>BOL/PRO Number:</strong>
  <%=h @shipment.bol_pro_number %>
</p>
<p>
  <strong>Carrier:</strong>
  <%=h @shipment.carrier_id %>
</p>
<p>
  <strong>Carrier Invoice Number:</strong>
  <%=h @shipment.carrier_invoice_number %>
</p>
<p>
  <strong>Cost:</strong>
  <%=h number_to_currency(@shipment.cost) %>
</p>


<p>
  <strong>Stock Transfer Wo Number:</strong>
  <%=h @shipment.stock_transfer_wo_number %>
</p>
<p>
  <strong>Debit Memo Number:</strong>
  <%=h @shipment.debit_memo_number %>
</p>
<p>
  <strong>Comments:</strong>
  <%=h @shipment.comments %>
</p>
<p>
  <strong>Invoiced By:</strong>
  <%=h @shipment.invoiced_by %>
</p>


<p>
  <strong>Pallets:</strong>
  <%=h @shipment.pallet_qty %>
</p>
<p>
  <strong>Pallet Dimentions:</strong>
  <%=h @shipment.pallet_dimentions %>
</p>
<p>
  <strong>Weight:</strong>
  <%=h @shipment.weight %>
</p>
<p>
  <strong>BOL Date:</strong>
  <%=h @shipment.bol_date %>
</p>
<p>
  <strong>BOL:</strong>
  <%= @shipment.bol.exists? ? link_to("download", @shipment.bol.url) : "none" %>
</p>
<p>
  <h3>Packing List:</h3>
	<p>
	  <strong>Shipper:</strong>
	  <%=h @shipment.packing_slip.shipper.company_name %>
	</p>
	<p>
	  <strong>Consignee:</strong>
	  <%=h @shipment.packing_slip.consignee.company_name %>
	</p>
	<p>
	  <strong>Pallets:</strong>
	  <%=h @shipment.packing_slip.pallets %>
	</p>
	<p>
	  <strong>Total Weight:</strong>
	  <%=h @shipment.packing_slip.total_weight %>
	</p>

	<h3>Items</h3>
	<% @shipment.packing_slip.list_items.each do |li| %>
		<%= li.item.name %> <%= "#{pluralize li.qty, li.item.uom}" %> <%= li.lot_number %> <%= li.comments %><br />
	<% end %>


<p>
  <%= link_to "Edit", edit_shipment_path(@shipment) %> |
  <%= link_to "Destroy", @shipment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", shipments_path %>
</p>

<br class="clear" />

</div>

</div>
