<% title "Shipment" %>
<p>
  <strong>Status:</strong>
  <%=h @shipment.state.try(:humanize) %>
</p>

<p>
  <strong>Submitter:</strong>
  <%=h @shipment.submitter.try(:name) %>
</p>
<p>
  <strong>Assigned To:</strong>
  <%=h @shipment.assigned_to.try(:name) %>
</p>
<p>
  <strong>Bill To:</strong>
  <%=h @shipment.bill_to.try(:name) %>
</p>
<p>
  <strong>Reference Number:</strong>
  <%=h @shipment.reference_number %>
</p>
<p>
  <strong>Classification:</strong>
  <%=h @shipment.classification_type %>
</p>
<p>
  <strong>BOL/PRO Number:</strong>
  <%=h @shipment.bol_pro_number %>
</p>
<p>
  <strong>Carrier:</strong>
  <%=h @shipment.carrier_id %>
</p>
<p>
  <strong>Carrier Invoice Number:</strong>
  <%=h @shipment.carrier_invoice_number %>
</p>
<p>
  <strong>Cost:</strong>
  <%=h number_to_currency(@shipment.cost) %>
</p>
<p>
  <strong>Ship Date:</strong>
  <%=h @shipment.ship_date %>
</p>
<p>
  <strong>Picked Up At:</strong>
  <%=h @shipment.picked_up_at %>
</p>
<p>
  <strong>Stock Transfer Wo Number:</strong>
  <%=h @shipment.stock_transfer_wo_number %>
</p>
<p>
  <strong>Debit Memo Number:</strong>
  <%=h @shipment.debit_memo_number %>
</p>
<p>
  <strong>Comments:</strong>
  <%=h @shipment.comments %>
</p>
<p>
  <strong>Invoiced By:</strong>
  <%=h @shipment.invoiced_by.try(:name) %>
</p>
<p>
  <strong>Scheduled By:</strong>
  <%=h @shipment.scheduled_by.try(:name) %>
</p>
<p>
  <strong>Scheduled Pickup:</strong>
  <%=h @shipment.scheduled_pickup %>
</p>
<p>
  <strong>Pallets:</strong>
  <%=h @shipment.pallet_qty %>
</p>
<p>
  <strong>Pallet Dimentions:</strong>
  <%=h @shipment.pallet_dimentions %>
</p>
<p>
  <strong>Weight:</strong>
  <%=h @shipment.weight %>
</p>
<p>
  <strong>BOL Date:</strong>
  <%=h @shipment.bol_date %>
</p>
<p>
  <strong>Shipper:</strong>
  <%=h @shipment.shipper.try(:name) %>
</p>
<p>
  <strong>Consignee:</strong>
  <%=h @shipment.consignee.try(:name) %>
</p>
<p>
  <strong>BOL:</strong>
  <%= @shipment.bol.exists? ? link_to("download", @shipment.bol.url) : "none" %>
</p>
<p>
  <strong>Packing List:</strong>
  <%= @shipment.packing_list.exists? ? link_to("download", @shipment.packing_list.url) : "none" %>
</p>

<p>
  <%= link_to "Edit", edit_shipment_path(@shipment) %> |
  <%= link_to "Destroy", @shipment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", shipments_path %>
</p>
