<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', "jquery-ui" %>
    <%= javascript_include_tag "jquery", "jquery-ui", "jquery.jeditable", "application" %>
    <%= yield(:head) %>

		<script type="text/javascript">
			$(function(){

				$("ul.dropdown li").hover(function(){

		        $(this).addClass("hover");
		        $('ul:first',this).css('visibility', 'visible');

		    }, function(){

		        $(this).removeClass("hover");
		        $('ul:first',this).css('visibility', 'hidden');

		    });
			});
		</script>

  </head>
  <body>
    <div id="container">
	
			<div id="user_status" style="float:right;">
        <% if current_user %>
          Welcome <%= link_to h(current_user.email), account_path %>! Not you?
          <%= link_to "Log out", logout_path %> | <%= link_to "Team Members", team_members_path %>
        <% else %>
          <%= link_to "Log in", login_path %>
        <% end %>
      </div>
	
			<img src="/images/woodbolt.png" id="logo">
      
	    <br class="clear" />

    	<div id="nav">
				<ul class="dropdown">
					<li <%= current_page?(invoiced_shipments_path) ? " class='selected'" : nil -%>><%= link_to "Invoiced", invoiced_shipments_path %></li>
					<li <%= current_page?(delivered_shipments_path) ? " class='selected'" : nil -%>><%= link_to "Delivered", delivered_shipments_path %></li>
					<li <%= current_page?(pending_shipments_path) ? " class='selected'" : nil -%>><%= link_to "Pending", pending_shipments_path %></li>
					<li <%= current_page?(new_shipment_path) ? " class='selected'" : nil -%>><a href="#" id="create-link" style="cursor: default;">Create</a>
						<ul class="sub_menu">
							<li><%= link_to "Shipment", new_shipment_path %></li>
							<li><%= link_to "Packing Slip", new_packing_slip_path %></li>
							<li><%= link_to "Contact", new_contact_path %></li>
							<li><%= link_to "Carrier", new_carrier_path %></li>
						</ul>
					</li>
				</ul>
				
				<div id="sub-nav">
				<%= link_to "Packing Slips", packing_slips_path %> | <%= link_to "Credits", credits_path %> | <%= link_to "Contacts", contacts_path %> | <%= link_to "Carriers", carriers_path %> | <%= link_to "Items", items_path %>
				</div>
				
				<br class="clear" />
			</div>
			
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <div class="content">

				<%= yield %>
			
			</div>

    </div>
  </body>
</html>
